*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
.vscode
src/CMakeFiles
src/cmake_install.cmake
src/CMakeCache.txt
src/inst/
src/out.txt
src/Makefile
